.b-menu-list-item {
    cursor: pointer;
}

.b-menu-list-item:hover {
    background: #F0F0F0;
}

.b-menu-list-item__link,  .b-menu-list-item__link:hover {
    text-decoration: none;
    padding-left: 8px;
    color: #000;
}

.b-menu-list-item .close {
    padding-right: 10px;
}